* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
}

.name {
    font-size: 45px;
    letter-spacing: 4px;
}

.title {
    font-size: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

main {
    display: flex;
    overflow: hidden;
}

.col1 {
    width: 25%;
    height: 100%;
    padding-bottom: 20px;
}

.col2 {
    width: 75%;
    float: right;
    text-align: left;
    height: 100%;
    border-left: 1px solid black;
    padding-bottom: 20px;
}

.row-header {
    font-size: 18px; 
}

h4 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

li {
    font-size: 14px;
    padding-top: 5px;
}

.systems-list {
    list-style-type: none;
}

.skills-list {
    list-style-type: none;
}

.contact-title {
    padding-top: 5px;
    
}

.involvement-section p {
    padding-top: 8px;
}

.dates {
    float: right;
    display: inline;
}

.degree-name, .job-name, .proj-name {
    display: inline;
}
.education-content {
    padding-top: 5px;
}

.experience-info {
    padding-top: 5px;
}

.list-content {
    padding-left: 20px;
}

.row {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.row:last-child {
    border-bottom: none;
}

.proj {
    padding-top: 5px;
}

.sect {
    padding-left: 20px;
}